<ion-content class="background efectoColor">
  
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title class="header"><h1 class="texto">José Arias</h1></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="container ion-text-center">
      <img src="../../assets/camera-ico.png" alt="planeta tierra">
    </div>
  </ion-content>

  <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-title class="ion-text-center texto"><h1>4B</h1></ion-title>
      </ion-toolbar>
  </ion-footer> 
  
</ion-content>